<!-- <div class="row" *ngIf="image">
    <img src="{{image.url}}">
    <p>{{image.name}}</p>
    <p>{{image.description}}</p>
</div> -->
<div sbzTextAnimation></div>
<body>
 
  <div class="main-div">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{image.name}}</mat-card-title>
        <mat-card-subtitle>Portfolio details</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{image.url}}" alt="{{image.url}}">
      <mat-card-content>
        <p>{{image.description}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <a href="{{image.github}}" target="_blank"><button mat-button>Github</button></a>
        <a href="{{image.live}}" target="_blank"><button mat-button>Live Demo</button></a>
        <button mat-fab color="primary" routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</body>
