<!-- <mat-card *ngIf="blog" class="blog-card">
  <img mat-card-image src="{{blog.image}}" alt="{{blog.title}}">
  <mat-card-title>{{blog.title}}</mat-card-title>
  <mat-card-subtitle>Posted by {{blog.author}} &bull; {{blog.published}}</mat-card-subtitle>
  <mat-card-content>
    <p class="blog_details" [innerHTML]="blog.content"></p>
  </mat-card-content>
</mat-card> -->


<div class="row" *ngIf="blog">
  <div class="leftcolumn">
    <div class="card">
      <h2 class="blog-title">{{blog.title}}</h2>
      <br>
      <h5 class="blog-extras">Posted by {{blog.author}}.</h5>
      <h6 class="blog-extras">Date published: {{blog.published.seconds * 1000 | date: 'MM/dd/yyyy'}}</h6>
      <img src="{{blog.image}}" class="blog_img">
      <br>
      <p class="blog_details" [innerHTML]="blog.content"></p>
      <mat-card-actions align="end">
        <button mat-fab color="accent" routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </div>
</div>
