<section class="services-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center services-title">
          <h1 class="text-uppercase title-text">Services Offered</h1>
          <p class="para">
            I strive to deliver the most affordable, scalable and competitive mobile and web solutions,
            all to the client's needs and tastes.
          </p>
        </div>
      </div>
      <div class="container services-list">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="services">
              <div class="sevices-img text-center py-4">
                <img src="../../../assets/img/services/s1.png" alt="Services-1">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-roboto">Web design</h5>
                <p class="card-text text-secondary">
                  I strive to ensure that websites follow the best material guidelines,
                  and are responsive across a wide set of devices.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="services">
              <div class="sevices-img text-center py-4">
                <img src="../../../assets/img/services/s2.png" alt="Services-2">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-roboto">Mobile App Development</h5>
                <p class="card-text text-secondary">
                  I strive to ensure that the mobile applications developed are user-friendly,
                  highly scalable and are responsive across a wide range of phones and tablets.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="services">
              <div class="sevices-img text-center py-4">
                <img src="../../../assets/img/services/s3.png" alt="Services-3">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-roboto">UI/UX design</h5>
                <p class="card-text text-secondary">
                  Through standards such as the Google Material Guidelines,
                  I aim to ensure that general user interfaces and experience is at par with the client's
                  expectations.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="services">
              <div class="sevices-img text-center py-4">
                <img src="../../../assets/img/services/s4.png" alt="Services-4">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-roboto">seo optimization</h5>
                <p class="card-text text-secondary">
                  With your input, I'll help create compelling and high quality content for your website's needs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="services">
              <div class="sevices-img text-center py-4">
                <img src="../../../assets/img/services/s4.png" alt="Services-4">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-roboto">App Maintenance</h5>
                <p class="card-text text-secondary">
                  With my mobile app maintenance services,
                  you'll avoid costly downtimes and upgrade issues, and keep your app working at peak performance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
