<body>

  <!--  ======================= Start Header Area ============================== -->

  <app-nav-bar class="nav-bar" (drawerToggleEmitter)="toggleDrawer($event)"></app-nav-bar>

  <!--  ======================= End Header Area ============================== -->

  <!--  ======================= Start Main Area ================================ -->
  <main class="site-main">


    <!--  ======================= Start Home Area =======================  -->
    <section class="site-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 site-title">
            <h3 class="title-text">Hey</h3>
            <h1 class="title-text text-uppercase">I am Samuel</h1>
            <h4 class="title-text text-uppercase">
              <app-type-delete></app-type-delete>
            </h4>
            <div class="site-buttons">
              <div class="d-flex flex-row flex-wrap">
                <a type="button" class="btn button primary-button mr-4 text-uppercase" [href]="fileUrl"
                  [download]="myFileName">My Resume</a>
                <button type="button" class="btn button secondary-button text-uppercase" (click)="openDialog()">Contact
                  Me</button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 banner-image">
            <img src="../../assets/img/banner/banner-image.png" alt="banner-img" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <!--  ======================= End Home Area =======================  -->

    <!--  ========================= About Area ==========================  -->

    <section class="about-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="about-image">
              <img src="../../assets/img/about-us.png" alt="About us" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 about-title">
            <h2 class="text-uppercase pt-5">
              <span>Let me</span>
              <span>introduce</span>
              <span>myself</span>
            </h2>
            <div class="paragraph py-4 w-75">
              <p class="para">
                My journey started back in 2019, when I started learning basic web design, how to implement agile
                methodologies, and how to sketch wireframes for
                project ideation. By undertaking courses at a bootcamp, I gained proficiency in HTML, CSS, JavaScript
                and
                Jquery, which enabled me to create cool websites.
              </p>
              <p class="para">
                I then progressed further to learn Angular, a web framework for creating fully scalable websites and
                progressive web applications.
                I proceeded to get my hands dirty with Spark, a web framework for creating websites and APIs' with Java
                as the main programming language.
                With Java under my belt, I also ventured into the Android platform, which has enabled me create fully
                functional and scalable mobile applications
                that work on normal Android phones and tablets.
              </p>
              <p class="para">
                As of now, I'm still a learner at heart, sharpening my craft, while researching and taking note of the
                latest trends in the tech scene.
                I prefer a hands-on, practical approach with clients, which enables me to come up with the best and most
                applicable solution to their business and personal needs.
              </p>
            </div>
            <button type="button" class="btn button primary-button text-uppercase">Sample Contract</button>
          </div>
        </div>
      </div>
    </section>



    <!--  ========================= End About Area ==========================  -->


    <!--  ======================== Skills Area ==============================  -->

    <section class="brand-area">
      <h2 class="text-uppercase pt-5">
        <span>Skills</span>
      </h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="first-row row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo1.png" alt="Brand-1 ">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo2.png" alt="Brand-2 ">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo3.png" alt="Brand-3 ">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo4.png" alt="Brand-4">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo5.png" alt="Brand-5 ">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo6.png" alt="Brand-6">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo7.png" alt="Brand-7 ">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo8.png" alt="Brand-8 ">
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-brand">
                  <img src="../../assets/img/brands/logo9.png" alt="Brand-9">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="experience-area">
              <div class="d-flex flex-row years-area">
                <h2 class="p-3 years">1</h2>
                <h2>
                  <span>Year</span>
                  <span>Experience</span>
                  <span>Working</span>
                </h2>
              </div>
              <div class="d-flex flex-row flex-wrap call-area">
                <span>
                  <fa-icon [icon]="faPhone" [styles]="{'color': 'black'}" [pulse]="true" class="fa-3x px-3"></fa-icon>
                </span>
                <!-- <i class="fas fa-phone-alt fa-3x px-3"></i></span> -->
                <div class="call-now">
                  <a href="tel:0792001837" class="text-uppercase h4 font-roboto">Call Now</a>
                  <span class="font-roboto py-2">(+254)-792-001-837</span>
                </div>
              </div>
              <div class="bg-panel"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  ======================== End Skills Area ==============================  -->


    <!--  ====================== Start Services Area =============================  -->

    <section class="services-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center services-title">
            <h1 class="text-uppercase title-text">Services Offered</h1>
            <p class="para">
              I strive to deliver the most affordable, scalable and competitive mobile and web solutions,
              all to the client's needs and tastes.
            </p>
          </div>
        </div>
        <div class="container services-list">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="sevices-img text-center py-4">
                  <img src="../../assets/img/services/s1.png" alt="Services-1">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">Web design</h5>
                  <p class="card-text text-secondary">
                    I strive to ensure that websites follow the best material guidelines,
                    and are responsive across a wide set of devices.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="sevices-img text-center py-4">
                  <img src="../../assets/img/services/s2.png" alt="Services-2">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">Mobile App Development</h5>
                  <p class="card-text text-secondary">
                    I strive to ensure that the mobile applications developed are user-friendly,
                    highly scalable and are responsive across a wide range of phones and tablets.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="sevices-img text-center py-4">
                  <img src="../../assets/img/services/s3.png" alt="Services-3">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">UI/UX design</h5>
                  <p class="card-text text-secondary">
                    Through standards such as the Google Material Guidelines,
                    I aim to ensure that general user interfaces and experience is at par with the client's
                    expectations.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="sevices-img text-center py-4">
                  <img src="../../assets/img/services/s4.png" alt="Services-4">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">seo optimization</h5>
                  <p class="card-text text-secondary">
                    With your input, I'll help create compelling and high quality content for your website's needs.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="sevices-img text-center py-4">
                  <img src="../../assets/img/services/s4.png" alt="Services-4">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">App Maintenance</h5>
                  <p class="card-text text-secondary">
                    With my mobile app maintenance services,
                    you'll avoid costly downtimes and upgrade issues, and keep your app working at peak performance.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  ====================== End Services Area =============================  -->

    <!--  ======================= Project Area =============================  -->
    <app-portfolio-gallery></app-portfolio-gallery>
    <!--  ======================= End Project Area =============================  -->

    <!--  ======================== Blog Area ==============================  -->

    <app-blog-view></app-blog-view>

    <!--  ======================== End Blog Area ==============================  -->

    <!--  ========================== Newsletter Area ============================  -->

    <app-newsletter></app-newsletter>

    <!--  ========================== End Newsletter Area ============================  -->

  </main>

  <!--  ======================= End Main Area ================================ -->

  <app-footer></app-footer>


  <!--  custom js file  -->
  <script src="./js/main.js"></script>

  <!--  isotope js library  -->
  <script src="./vendor/isotope/isotope.min.js"></script>

  <!--  Magnific popup script file  -->
  <script src="./vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>


</body>
