/* css variables */
@import url(../../css/partials/variables.css);


header{
  position: fixed;
  width: 99%;
  left: 0;
  top: 0;
  z-index: 1001;
}

// services section
.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main>.services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem .5rem;
  transition: box-shadow .7s ease;
}

.site-main>.services-area .services:hover {
  box-shadow: var(--box-shadow);
}

.anchor a {
  position: absolute;
  left: 0px;
  top: -10em;
}
.anchor {
  position: relative;
}
