/* css variables */
@import url(../../css/partials/variables.scss);


header{
  position: fixed;
  width: 99%;
  left: 0;
  top: 0;
  z-index: 1001;
}

.anchor a {
  position: absolute;
  left: 0px;
  top: -10em;
}
.anchor {
  position: relative;
}
