<ul id="navbar-list" class="navbar-nav override">
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/home" class="nav-link override" id="Home">Home</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/about" class="nav-link override" id="About">About</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/skills" class="nav-link override" id="Skills">Skills</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/services" class="nav-link override" id="Services">Services</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/projects" class="nav-link override" id="Projects">Projects</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/blog" class="nav-link override" id="Blog">Blog</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/newsletter" class="nav-link override" id="Newsletter">Newsletter</a>
    </li>
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/contact" class="nav-link override" id="Contact">Contact</a>
    </li>
</ul>
<span class="drawer-inset-shadow"></span>