<section class="about-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="about-image">
            <img src="../../../assets/img/about-us.png" alt="About us" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 about-title">
          <h2 class="text-uppercase pt-5">
            <span>Let me</span>
            <span>introduce</span>
            <span>myself</span>
          </h2>
          <div class="paragraph py-4 w-75">
            <p class="para">
              My journey started back in 2019, when I started learning basic web design, how to implement agile
              methodologies, and how to sketch wireframes for
              project ideation. By undertaking courses at a bootcamp, I gained proficiency in HTML, CSS, JavaScript
              and
              Jquery, which enabled me to create cool websites.
            </p>
            <p class="para">
              I then progressed further to learn Angular, a web framework for creating fully scalable websites and
              progressive web applications.
              I proceeded to get my hands dirty with Spark, a web framework for creating websites and APIs' with Java
              as the main programming language.
              With Java under my belt, I also ventured into the Android platform, which has enabled me create fully
              functional and scalable mobile applications
              that work on normal Android phones and tablets.
            </p>
            <p class="para">
              As of now, I'm still a learner at heart, sharpening my craft, while researching and taking note of the
              latest trends in the tech scene.
              I prefer a hands-on, practical approach with clients, which enables me to come up with the best and most
              applicable solution to their business and personal needs.
            </p>
          </div>
          <button type="button" class="btn button primary-button text-uppercase">Sample Contract</button>
        </div>
      </div>
    </div>
  </section>

