<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <!--  ======================= Start Header Area ============================== -->

  <app-nav-bar class="nav-bar" (drawerToggleEmitter)="toggleDrawer($event)"></app-nav-bar>

  <!--  ======================= End Header Area ============================== -->

  <!--  ======================= Start Main Area ================================ -->
  <main class="site-main">


    <!--  ======================= Start Home Area =======================  -->
    <app-home></app-home>
    <!--  ======================= End Home Area =======================  -->

    <!--  ========================= About Area ==========================  -->

    <app-about></app-about>

    <!--  ========================= End About Area ==========================  -->


    <!--  ======================== Skills Area ==============================  -->

    <app-skills></app-skills>

    <!--  ======================== End Skills Area ==============================  -->


    <!--  ====================== Start Services Area =============================  -->

    <app-services></app-services>

    <!--  ====================== End Services Area =============================  -->

    <!--  ======================= Project Area =============================  -->
    <app-portfolio-gallery></app-portfolio-gallery>
    <!--  ======================= End Project Area =============================  -->

    <!--  ======================== Blog Area ==============================  -->

    <app-blog-view></app-blog-view>

    <!--  ======================== End Blog Area ==============================  -->

    <!--  ========================== Newsletter Area ============================  -->

    <app-newsletter></app-newsletter>

    <!--  ========================== End Newsletter Area ============================  -->

  </main>

  <!--  ======================= End Main Area ================================ -->

  <app-footer></app-footer>
  <router-outlet></router-outlet>

  <!--  custom js file  -->
  <script src="./js/main.js"></script>

  <!--  isotope js library  -->
  <script src="./vendor/isotope/isotope.min.js"></script>

  <!--  Magnific popup script file  -->
  <script src="./vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>


</body>

</html>
