

/* css variables */ 
@import url(../css/partials/variables.css);

:host {
    position: relative;
    display: block;
    left: 0;
    transition: left 0.3s ease;
}

:host.drawer-open {
    left: 70%;
}

.nav-bar {
    position: fixed;
    display: block;
    top: 0;
    width: 100vw;
    z-index: 100; 
}

.navbar-padding {
    display: block;
    position: relative;
    margin-top: 3.5rem;
}

.main-section {
    min-height: 125vh;
}

/* start navigation */ 

// .header_area .main-menu .navbar .navbar-brand{
//     padding: 0 2rem 0 5rem;
// }

// .header_area .main-menu .navbar{
//     padding: 1rem 20rem ;
// }

// .header_area .main-menu .nav-item .nav-link{
//     font: normal 500 15px/2px var(--roboto);
//     text-transform: uppercase;
//     padding: 1.7rem;
//     color: var(--title-color);
// }

// .header_area .main-menu .navbar-nav .active a{
//     background: var(--gradient-color);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
// }

// .header_area .main-menu .navbar-nav a:hover{
//     background: var(--gradient-color);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
// }


/* end navigation */ 