<header>
  <nav class="navbar navbar-expand-md" id="nav-bar">
    <div class="container">
      <div class="nav-toggler" [class.drawer-open]="isDrawerOpen" id="nav-toggler"
        (click)="toggleNavDrawer(!isDrawerOpen)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a class="navbar-brand override" routerLink="/">
        DEV
      </a>
      <app-nav-drawer [isDrawerOpen]="isDrawerOpen" (drawerToggleEmitter)="toggleNavDrawer($event)"></app-nav-drawer>
    </div>
  </nav>
</header>

