<footer class="footer-area">
    <div class="container">
      <div class="">
        <div class="site-logo text-center py-4">
          <a href="#"><img src="../../../assets/img/logo.png" alt="logo"></a>
        </div>
        <div class="social text-center">
          <h5 class="text-uppercase">Let's Get To Know Each Other.</h5>
          <fa-icon [icon]="faGithub" size="lg" [styles]="{'color': 'black'}" [pulse]="true"></fa-icon>
          <fa-icon [icon]="faMedium" size="lg" [styles]="{'color': 'black'}" [spin]="true"></fa-icon>
          <fa-icon [icon]="faQuora" size="lg" [styles]="{'color': 'red'}" [pulse]="true"></fa-icon>
          <fa-icon [icon]="faTwitter" size="lg" [styles]="{'color': 'blue'}" [spin]="true"></fa-icon>
          <fa-icon [icon]="faLinkedin" size="lg" [styles]="{'color': 'blue'}" [pulse]="true"></fa-icon>
        </div>
        <div class="copyrights text-center">
          <p class="para">
            Copyright ©2021 All rights reserved | This site is made by
            <a href="#"><span style="color: var(--primary-color);">Samuel Wahome</span></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
